{% extends "my_pasture/master.html" %}

{% block title %}
  ГИС платформа ТОО "Северо-Казахстанская СХОС"
{% endblock %}


{% block content %}


<div class="container shadow-lg mb-5"><br>

    <h1 class="text-center">ГИС платформа ТОО "Северо-Казахстанская СХОС"</h1><br>
    <h2 class="text-center">Инструкция по применению ГИС портала</h2>
    <hr>
    <h4><span class="badge bg-success">?</span> Начальная страница:</h4>
    <hr>
    <h5>1)Выберете уровень спутника (Level-1C или Level-2A)</h5>
    <h5>2)Укажите диапазон дат для поиска или поставьте галочку в разделе "последняя доступная дата"</h5>
    <h5>3)Загрузите файл с координатами Вашего пастбища (формата .kml)</h5>
    <hr>
    <h4><span class="badge bg-success">?</span> Страница с полученными датами:</h4>
    <hr>
    <h5>1)Выберете интересующую Вас дату</h5>
    <hr>
    <h4><span class="badge bg-success">?</span> Страница анализа выбранной даты:</h4>
    <hr>
    <h5>1)Примете решение удовлетворяет ли Вас полученное изображение с точки зрения качества и наличия шумов (облаков)</h5>
    <h5>2)Пройдите в раздел заполнения формы запросов ниже</h5>
    <h5>3)Заполните ячейку формулы. Для справки обратитесь в справочник нажав кнопку "?" справа от ячейки формулы</h5>
    <h5>4)Установите пределы выводимых значении (относительная или абсолютная) *(если необходимо)</h5>
    <h5>5)Установите порог значения и его оператор *(если необходимо)</h5>
    <h5>6)Нажмите на кнопку "Прогноз"</h5>
    <h5>7)Введите опорное значение пикселя и его реальное эквивалентное значение в кг.</h5>
    <h5 class="mb-5">8)Получите реальные значения по загонам в тоннах</h5>

</div>



{% endblock %}
