{% extends "my_pasture/master.html" %}

{% block title %}
  ГИС платформа
{% endblock %}


{% block content %}


<div class="container shadow-lg mb-5"><br>

    <h1 class="text-center">ГИС платформа анализа пастбищных ресурсов</h1><br>
    <h2 class="text-center">Инструкция по применению ГИС портала</h2>
    <hr>
    <h4><span class="badge bg-success">?</span> Начальная страница:</h4>
    <hr>
    <h5>1)Выберете уровень спутника (Level-1C или Level-2A)</h5>
    <h5>2)Укажите диапазон дат для поиска или поставьте галочку в разделе "последняя доступная дата"</h5>
    <h5>3)Загрузите файл с координатами Вашего пастбища (формата .kml)</h5>
    <hr>
    <h4><span class="badge bg-success">?</span> Страница с полученными датами:</h4>
    <hr>
    <h5>1)Выберете интересующую Вас дату</h5>
    <hr>
    <h4><span class="badge bg-success">?</span> Страница анализа выбранной даты:</h4>
    <hr>
    <h5>1)Примете решение удовлетворяет ли Вас полученное изображение с точки зрения качества и наличия шумов (облаков)</h5>
    <h5>2)Пройдите в раздел заполнения формы запросов ниже</h5>
    <h5>3)Заполните ячейку формулы. Для справки обратитесь в справочник нажав кнопку "?" справа от ячейки формулы</h5>
    <h5>4)Установите пределы выводимых значении (относительная или абсолютная) *(если необходимо)</h5>
    <h5>5)Установите порог значения и его оператор *(если необходимо)</h5>
    <h5>6)Нажмите на кнопку "Прогноз"</h5>
    <h5>7)Выберете метод выбора опорного значения и введите параметры урованения кривой урожайности</h5>
    <h5>8)Получите реальные значения по загонам в тоннах на гектар</h5>
    <h5>9)Нажмите на появившуюся кнопку “Симуляция” для начала процесса симуляции стравливании на пастбище</h5>
    <h5>10)Пользователю предлагается заполнить несколько разделов включающие в себя основные параметры необходимые для инициализации растиении, КРС, технологии выпаса, пастбища и т.д. Для заполнения данных параметров от пользователя требуется владение эксперными знаниями в сфере животноводства и растениеводства, а также знание по какой технологии и в каких условиях будет проводится стравливание загонов</h5>
    <h5 class="mb-5">11)После заполнения всех соответсвующих разделов нажмита на кнопку “Начать”. Данная кнопка начнет процесс симуляции стравливания, после оканчания которой ниже на экране выведутся результаты математической симуляции в виде графов изменения урожайности загонов пастбища</h5>

</div>



{% endblock %}
