{% extends "my_pasture/master.html" %}

{% block title %}
  ГИС платформа ТОО "Северо-Казахстанская СХОС"
{% endblock %}


{% block content %}

<div class="container"><br>

    <h1 class="text-center">ГИС платформа ТОО "Северо-Казахстанская СХОС"</h1><br>
    <h3 class="text-center">Доступные даты на выбранный промежуток</h3>
        {% if unique_acquisitions %}
            {% for unique_date in unique_acquisitions %}
                <form id="hidden_form" method="POST" action="{% url 'date_detail' pk=counter_start|add:forloop.counter0 %}">
                    {% csrf_token %}
                    <input type="hidden" name="pk" id="hidden_input_tag" value="{{ counter_start|add:forloop.counter0 }}">
                    <button name="date" value="{{ counter_start|add:forloop.counter0 }}" class="btn btn-outline-dark btn-lg btn-block loadMoreButton mt-1" type="submit">{{ unique_date }}</button>
                </form>
            {% endfor %}
        {% endif %}
</div>



{% endblock %}

<!-- <img class="thumbnail img-responsive" src="data:image/png;base64,{{ image }}" alt="Image"> -->
