{% extends "my_pasture/master.html" %}

{% block title %}
  ГИС платформа ТОО "Северо-Казахстанская СХОС"
{% endblock %}


{% block content %}


<div class="container mb-5">
  <div class="row">
    <div class="col-sm">
        <h4 class="text-left text-justify">Порог значения облачности</h4>
    </div>
    <div class="col-sm">
        <input class="form-control" type="number" id="filterValue" min="0" value="100">
    </div>
    <div class="col-sm">
      <button class="btn btn-primary btn-block btn-sm" type="button" onclick="iterateForms()">Фильтровать по облачности</button>
    </div>
  </div>
</div>

<div class="container"><br>

    <h1 class="text-center">ГИС платформа ТОО "Северо-Казахстанская СХОС"</h1><br>
    <h3 class="text-center">Доступные даты на выбранный промежуток</h3>

    {% if dict_of_images %}
        {% for unique_date, image in dict_of_images.items %}
            <form id="{{ unique_date.1 }}" method="POST" action="{% url 'date_detail' pk=counter_start|add:forloop.counter0 %}">
                {% csrf_token %}
                <input type="hidden" name="pk" id="hidden_input_tag" value="{{ counter_start|add:forloop.counter0 }}">
                <button name="date" value="{{ counter_start|add:forloop.counter0 }}" class="btn btn-outline-dark btn-lg btn-block ShowItsImage mt-1" type="submit">| {{ unique_date.0 }} | (облачность: {{ unique_date.1 }}%)</button>

                <div id="{{ unique_date.0 }}" class="container d-flex align-items-center justify-content-center">
                    <img class="img-responsive" src="data:image/png;base64,{{ image }}" alt="{{ unique_date.0 }}" hidden>
                </div>

            </form>
        {% endfor %}
    {% endif %}
</div>


<script>
    iterateForms();

    function iterateForms() {
        var filterValue = document.getElementById("filterValue").value;
        var forms = document.forms;
        for (var i = 0; i < forms.length; i++) {
            if (parseFloat(forms[i].id) <= parseFloat(filterValue)){
                forms[i].removeAttribute("hidden");
            }
            else{
                forms[i].setAttribute("hidden", true);
            }
        }
    }


    var elements = document.getElementsByClassName('ShowItsImage');

    function handleMouseOver() {
        let match = this.innerHTML.match(/\|([^|]+)\|/);
        let result = match ? match[1].trim() : null;

        var peek_div = document.getElementById(result);
        peek_div.children[0].removeAttribute('hidden');
    }

    function handleMouseOut() {
        let match = this.innerHTML.match(/\|([^|]+)\|/);
        let result = match ? match[1].trim() : null;

        var peek_div = document.getElementById(result);
        peek_div.children[0].setAttribute('hidden', true);
    }

    Array.from(elements).forEach(function(element) {
        element.addEventListener('mouseover', handleMouseOver);
        element.addEventListener('mouseout', handleMouseOut);
    });


</script>


{% endblock %}

