{% extends "my_pasture/master.html" %}

{% block title %}
  ГИС платформа ТОО "Северо-Казахстанская СХОС"
{% endblock %}


{% block content %}

<style>
    /* Custom CSS to change the color of carousel control icons */
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: #C7C7C7; /* Change to your desired color */
    }
</style>

<div class="container shadow-lg"><br>

    <h1 class="text-center">ГИС платформа ТОО "Северо-Казахстанская СХОС"</h1><br>
    <h3 class="text-center">Более подробная информация по выбранной дате</h3>

    <img class="img-fluid" id="date_image" src="data:image/png;base64,{{ image_data }}" alt="Matplotlib Image">
    <img class="img-fluid" id="requested_date_image" src="" alt="Requested Image" hidden>

    <div id="carousel-container"></div>

    <table id="data-table" class="table table-striped" style="display: none;"> <!-- Initially hidden -->
        <thead class="thead-dark">
            <tr>
                <th>Загон №</th>
                <th>Сумма</th>
                <th>Средняя</th>
                <th>Медианная</th>
                <th>Макс.</th>
                <th>Мин.</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


    <div id="myAlert" class="alert alert-danger alert-dismissible fade show" role="alert" hidden="true">
    </div>

    <h5 class="text-center mt-5">Форма контроля параметров запроса</h5>
    <div class="input-group mb-3 mt-1">
      <span class="input-group-text" id="basic-addon1">f(к)=</span>
      <input id="formula" type="text" class="form-control" placeholder="Формула" aria-label="formula" aria-describedby="basic-addon1" data-toggle="tooltip" data-html="true" title="This is a<br>multiline tooltip" data-placement="top">
    </div>



    <div class="row mt-3">
      <div class="col">
        <div class="form-check">
        <input class="form-check-input" name="flexRadioDefault" type="radio" id="relative_radio" checked onclick="disableBoundInputs()">  Относительная шкала
        </div>
      </div>
      <div class="col">
        <div class="form-check">
        <input class="form-check-input" name="flexRadioDefault" type="radio" id="absolute_radio" onclick="enableBoundInputs()">  Абсолютная шкала
        </div>
      </div>
      <div class="col">
        <input type="checkbox" id="threshold_check" onclick="toggleThreshInput()">  Пороговое значение
      </div>
      <div class="col">
        <select id="operators" class="form-select" aria-label="Оператор" disabled>
          <option selected>Оператор</option>
          <option value="==">==</option>
          <option value="<">&#60;</option>
          <option value="<=">&#8804;</option>
          <option value=">">&#62;</option>
          <option value=">=">&#8805;</option>
        </select>
      </div>
      <div class="col">
        <input type="number" id="threshold" class="form-control" disabled>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col">
        <input type="number" id="lower_bound" class="form-control"  placeholder="Нижняя грань" disabled>
      </div>
      <div class="col">
        <input type="number" id="upper_bound" class="form-control"  placeholder="Вверхняя грань" disabled>
      </div>
    </div>


    <button class="btn btn-primary btn-block mt-5 mb-5" id="ajax-button">Запрос</button>
</div>

<script>
    $(document).ready(function() {
        $("#ajax-button").click(function() {

            var $button = $(this);
            var originalContent = $button.html();
            $button.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Запрос...');
            $button.attr('disabled', true);

            var formula = document.getElementById("formula").value;

            var relative_radio = document.getElementById("relative_radio").checked;
            var absolute_radio = document.getElementById("absolute_radio").checked;

            var upper_bound = document.getElementById("upper_bound").value;
            var lower_bound = document.getElementById("lower_bound").value;

            var threshold_check = document.getElementById("threshold_check").checked;
            var threshold = document.getElementById("threshold").value;

            var operators = document.getElementById("operators").value;

            $.ajax({
                type: "GET",
                url: "/ajax/",
                data: {
                    'formula': formula,
                    'relative_radio': relative_radio,
                    'absolute_radio': absolute_radio,
                    'upper_bound': upper_bound,
                    'lower_bound': lower_bound,
                    'threshold_check': threshold_check,
                    'threshold': threshold,
                    'operators': operators,
                },
                success: function(data) {

                    if (data.index_image === null && data.df === null && data.hist_images === null){
                        $button.html(originalContent);
                        $button.attr('disabled', false);
                        setAlertText("Ошибка при выполнении формулы");
                        return;
                    };


                    // Append the image element to the image container in the HTML
                    const requested_index = document.getElementById('requested_date_image');
                    requested_index.src = `data:image/png;base64,${data.index_image}`;
                    requested_index.removeAttribute('hidden');

                    var carouselContainer = $('<div id="image-carousel" class="carousel slide" data-ride="carousel"></div>');
                    var carouselIndicators = $('<ol class="carousel-indicators"></ol>');

                    var carouselInner = $('<div class="carousel-inner"></div>');

                    var prev_parentElement = $('<a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev"></a>');
                    var prev_childElement1 = $('<span class="carousel-control-prev-icon" aria-hidden="true"></span>');
                    var prev_childElement2 = $('<span class="sr-only">Previous</span>');

                    // Append child elements to the parent element
                    prev_parentElement.append(prev_childElement1);
                    prev_parentElement.append(prev_childElement2);

                    var next_parentElement = $('<a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next"></a>');
                    var next_childElement1 = $('<span class="carousel-control-next-icon" aria-hidden="true"></span>');
                    var next_childElement2 = $('<span class="sr-only">Next</span>');

                    // Append child elements to the parent element
                    next_parentElement.append(next_childElement1);
                    next_parentElement.append(next_childElement2);


                    data.hist_images.forEach(function(histogram, index) {

                        var carouselIndicator = $('<li style="background-color: #C7C7C7;" data-target="#image-carousel" data-slide-to="' + index + '"></li>');
                        var carouselItem = $('<div class="carousel-item"></div>');

                        if (index === 0) {
                            carouselIndicator.addClass('active');
                            carouselItem.addClass('active');
                        }

                        var imgElement = $('<img class="d-block w-100" src="data:image/png;base64,' + histogram + '">');
                        carouselItem.append(imgElement);

                        carouselIndicators.append(carouselIndicator);
                        carouselInner.append(carouselItem);

                    });

                    carouselContainer.append(carouselIndicators);
                    carouselContainer.append(carouselInner);

                    carouselContainer.append(prev_parentElement);
                    carouselContainer.append(next_parentElement);

                    // Add the carousel to the page
                    $('#carousel-container').empty();
                    $('#carousel-container').append(carouselContainer);
                    // $('#image-carousel').carousel();
                      $('#image-carousel').carousel({
                        interval: false
                      });

                    var tbody = $('#data-table tbody');
                    tbody.empty();

                    // Decode column names from UTF-8 encoding
                    var decodedData = JSON.parse(data.df);

                    // Iterate over the JSON data and populate the table
                    $.each(decodedData, function(index, row) {
                        var tr = $('<tr>');
                        tr.append('<td>' + row.Загон + '</td>');
                        tr.append('<td>' + row.Сумма + '</td>');
                        tr.append('<td>' + row.Cреднаяя + '</td>');
                        tr.append('<td>' + row.Медианная + '</td>');
                        tr.append('<td>' + row.Макс + '</td>');
                        tr.append('<td>' + row.Мин + '</td>');
                        tbody.append(tr);
                    });

                    // Show the table
                    $('#data-table').show();

                $button.html(originalContent);
                $button.attr('disabled', false);
                },
                error: function(error) {
                    console.error('Error:', error);
                    $button.html(originalContent);
                    $button.attr('disabled', false);
                }
            });
        });
    });
</script>


<script>
  function enableBoundInputs() {
    var upper_bound = document.getElementById("upper_bound");
    var lower_bound = document.getElementById("lower_bound");
    upper_bound.disabled = false;
    lower_bound.disabled = false;
  }

  function disableBoundInputs() {
    var upper_bound = document.getElementById("upper_bound");
    var lower_bound = document.getElementById("lower_bound");
    upper_bound.disabled = true;
    lower_bound.disabled = true;
  }

  function toggleThreshInput() {
    var threshold = document.getElementById("threshold");
    threshold.disabled = !threshold.disabled;
    var operators = document.getElementById("operators");
    operators.disabled = !operators.disabled;
  }


  // Function to set custom text in the alert
  function setAlertText(text) {
    var alertElement = document.getElementById('myAlert');
    if (alertElement) {
      // Set the custom text
      alertElement.innerHTML = text;
      // Show the alert
      alertElement.style.display = 'block';
      alertElement.hidden = false;
    }
  }
</script>


{% endblock %}
