{% extends "my_pasture/master.html" %}

{% block title %}
  ГИС платформа ТОО "Северо-Казахстанская СХОС"
{% endblock %}


{% block content %}

<style>
    /* Custom CSS to change the color of carousel control icons */
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: #C7C7C7; /* Change to your desired color */
    }
    th {
        text-align: center;
        vertical-align: top;
    }
</style>



<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Расчет реальных значении</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-striped" id="mySampleTable">
            </table>
            <div class="row mt-3">
                <div class="col">
                    <input type="number" id="pixelValue" class="form-control" placeholder="Значение пикселя">
                </div>
                <div class="col">
                    <input type="number" id="realValue" class="form-control" placeholder="Реальный эквивалент (кг)">
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="multiplyValues()">Рассчитать</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade bd-example-modal-lg" id="myHelperModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body" style="max-height: 300px; overflow-y: auto;">
        <h3>Справка по составленю формул</h3>
        <hr>
        <h5>Доступные каналы:</h5>
        <hr>
        <p><a href="#" role="button" class="btn btn-info popover-test">ULTRA_BLUE</a> - канал в диапазоне [433-453] nm </p>
        <p><a href="#" role="button" class="btn btn-primary popover-test">BLUE</a> - канал в диапазоне [458-523] nm </p>
        <p><a href="#" role="button" class="btn btn-success popover-test">GREEN</a> - канал в диапазоне [543-578] nm </p>
        <p><a href="#" role="button" class="btn btn-danger popover-test" style="background-color: #e80e0e; border-color: #e80e0e;">RED</a> - канал в диапазоне [650-680] nm </p>
        <p><a href="#" role="button" class="btn btn-danger popover-test" style="background-color: #9e2121; border-color: #9e2121;">RED_EDGE1</a> - канал в диапазоне [698-713] nm </p>
        <p><a href="#" role="button" class="btn btn-danger popover-test" style="background-color: #9e2121; border-color: #9e2121;">RED_EDGE2</a> - канал в диапазоне [733-748] nm </p>
        <p><a href="#" role="button" class="btn btn-danger popover-test" style="background-color: #9e2121; border-color: #9e2121;">RED_EDGE3</a> - канал в диапазоне [773-793] nm </p>
        <p><a href="#" role="button" class="btn btn-danger popover-test" style="background-color: #570202; border-color: #570202;">NIR</a> - канал в диапазоне [785-900] nm </p>
        <p><a href="#" role="button" class="btn btn-danger popover-test" style="background-color: #ff6666; border-color: #ff6666;">N_NIR</a> - канал в диапазоне [855-875] nm </p>
        <p><a href="#" role="button" class="btn btn-warning popover-test" style="background-color: #366ecf; border-color: #366ecf;">WV</a> - канал в диапазоне [935-955] nm </p>
        <p><a href="#" role="button" class="btn btn-dark popover-test">SWIR_C</a> - канал в диапазоне [1360-1390] nm*. *Доступен только при выборе уровня L1C </p>
        <p><a href="#" role="button" class="btn btn-warning popover-test">SWIR_2</a> - канал в диапазоне [1565-1655] nm </p>
        <p><a href="#" role="button" class="btn btn-warning popover-test">SWIR_3</a> - канал в диапазоне [2100-2280] nm </p>
        <hr>
        <h5>Доступные функции:</h5>
        <hr>
        <p><a href="#" role="button" class="btn btn-secondary popover-test"  data-toggle="tooltip" data-placement="top" title="Tooltip on top">mean(канал)</a> - функция позволяет рассчитать среднее значение канала</p>
        <p><a href="#" role="button" class="btn btn-secondary popover-test"  data-toggle="tooltip" data-placement="top" title="Tooltip on top">median(канал)</a> - функция позволяет рассчитать медианное значение канала</p>
        <hr>
        <h5>Примеры составления формул:</h5>
        <hr>
        <p>mean(NIR) - (NIR - RED)</p>
        <p>NIR - median(NIR - RED)</p>
        <p>(NIR - RED) / (NIR + RED)</p>
        <hr>
        <h5>Более подробно о каналах можно узнать <a href="https://en.wikipedia.org/wiki/Sentinel-2" target="_blank" class="tooltip-test" title="Tooltip">здесь</a> и <a href="https://www.researchgate.net/publication/325209585/figure/tbl3/AS:667767116144642@1536219495031/Spectral-bands-and-resolutions-of-Sentinel-2-MSI-sensor.png" target="_blank" class="tooltip-test" title="Tooltip">здесь</a></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>


<div class="container shadow-lg"><br>

    <h1 class="text-center">ГИС платформа ТОО "Северо-Казахстанская СХОС"</h1><br>
    <h3 class="text-center">Более подробная информация по выбранной дате</h3>

    <img class="img-fluid img-thumbnail" id="date_image" src="data:image/png;base64,{{ image_data }}" alt="Matplotlib Image">
    <div class="container mt-4">
      <div class="d-flex justify-content-center">
        <h5 class="text-center">Погодные данные</h5>
      </div>
      <div class="table-responsive">
          {{ weather_data|safe }}
      </div>
    </div>
    <img class="img-fluid img-thumbnail" id="requested_date_image" src="" alt="Requested Image" hidden>

    <div id="carousel-container"></div>

    <table id="data-table" class="table table-striped" style="display: none;"> <!-- Initially hidden -->
        <thead class="thead-dark">
            <tr>
                <th>Загон №</th>
                <th>Сумма</th>
                <th>Средняя</th>
                <th>Медианная</th>
                <th>Макс.</th>
                <th>Мин.</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button id="predict" type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal" data-column3="Value 3" hidden>Прогноз</button>

    <div id="myAlert" class="alert alert-danger alert-dismissible fade show mt-3 mb-3" role="alert" hidden="true">
    </div>

    <h5 class="text-center mt-5">Форма контроля параметров запроса</h5>
    <div class="input-group mb-3 mt-1">
      <span class="input-group-text" id="basic-addon1">f(к)=</span>
      <input id="formula" type="text" class="form-control" placeholder="Формула" aria-label="formula" aria-describedby="basic-addon1" data-toggle="tooltip" data-html="true" title="Для справки нажмите на кнопку '?' справа -> " data-placement="top">
      <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#myHelperModal" style="width: 100px;">?</button>
    </div>



    <div class="row mt-3">
      <div class="col">
        <input type="checkbox" id="by_pasture" class="mr-2">
        <label for="by_pasture">Относительно пастбища</label>
      </div>
      <div class="col">
        <input type="checkbox" id="threshold_check" onclick="toggleThreshInput()" class="mr-2">
        <label for="threshold_check">Пороговое значение</label>
      </div>
      <div class="col">
        <select id="operators" class="form-select" aria-label="Оператор" disabled>
          <option selected>Оператор</option>
          <option value="==">==</option>
          <option value="<">&#60;</option>
          <option value="<=">&#8804;</option>
          <option value=">">&#62;</option>
          <option value=">=">&#8805;</option>
        </select>
      </div>
      <div class="col">
        <input type="number" id="threshold" class="form-control" disabled>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col">
        <div class="form-check">
        <input class="form-check-input mr-2" name="flexRadioDefault" type="radio" id="relative_radio" checked onclick="disableBoundInputs()">
        <label for="relative_radio">Относительная шкала</label>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
        <input class="form-check-input mr-2" name="flexRadioDefault" type="radio" id="absolute_radio" onclick="enableBoundInputs()">
        <label for="absolute_radio">Абсолютная шкала</label>
        </div>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col">
        <input type="number" id="lower_bound" class="form-control"  placeholder="Нижняя грань" disabled>
      </div>
      <div class="col">
        <input type="number" id="upper_bound" class="form-control"  placeholder="Верхняя грань" disabled>
      </div>
    </div>


    <button class="btn btn-primary btn-lg btn-block mt-5 mb-5" id="ajax-button">Запрос</button>

</div>

<script>
    $(document).ready(function() {
        $("#ajax-button").click(function() {

            var $button = $(this);
            var originalContent = $button.html();
            $button.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Запрос...');
            $button.attr('disabled', true);

            var formula = document.getElementById("formula").value;

            var by_pasture = document.getElementById("by_pasture").checked;

            var relative_radio = document.getElementById("relative_radio").checked;
            var absolute_radio = document.getElementById("absolute_radio").checked;

            var upper_bound = document.getElementById("upper_bound").value;
            var lower_bound = document.getElementById("lower_bound").value;

            var threshold_check = document.getElementById("threshold_check").checked;
            var threshold = document.getElementById("threshold").value;

            var operators = document.getElementById("operators").value;

            $.ajax({
                type: "GET",
                url: "/ajax/",
                data: {
                    'formula': formula,
                    'relative_radio': relative_radio,
                    'absolute_radio': absolute_radio,
                    'upper_bound': upper_bound,
                    'lower_bound': lower_bound,
                    'threshold_check': threshold_check,
                    'threshold': threshold,
                    'operators': operators,
                    'by_pasture': by_pasture,
                },
                success: function(data) {

                    if (data.index_image === null && data.df === null && data.hist_images === null){
                        $button.html(originalContent);
                        $button.attr('disabled', false);
                        setAlertText(false, "Ошибка при выполнении формулы");
                        return;
                    }
                    else{
                        setAlertText(true, "");
                        var preduct_button = document.getElementById("predict");
                        preduct_button.removeAttribute('hidden');
                    };


                    // Append the image element to the image container in the HTML
                    const requested_index = document.getElementById('requested_date_image');
                    requested_index.src = `data:image/png;base64,${data.index_image}`;
                    requested_index.removeAttribute('hidden');

                    var carouselContainer = $('<div id="image-carousel" class="carousel slide" data-ride="carousel"></div>');
                    var carouselIndicators = $('<ol class="carousel-indicators"></ol>');

                    var carouselInner = $('<div class="carousel-inner"></div>');

                    var prev_parentElement = $('<a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev"></a>');
                    var prev_childElement1 = $('<span class="carousel-control-prev-icon" aria-hidden="true"></span>');
                    var prev_childElement2 = $('<span class="sr-only">Previous</span>');

                    // Append child elements to the parent element
                    prev_parentElement.append(prev_childElement1);
                    prev_parentElement.append(prev_childElement2);

                    var next_parentElement = $('<a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next"></a>');
                    var next_childElement1 = $('<span class="carousel-control-next-icon" aria-hidden="true"></span>');
                    var next_childElement2 = $('<span class="sr-only">Next</span>');

                    // Append child elements to the parent element
                    next_parentElement.append(next_childElement1);
                    next_parentElement.append(next_childElement2);


                    data.hist_images.forEach(function(histogram, index) {

                        var carouselIndicator = $('<li style="background-color: #C7C7C7;" data-target="#image-carousel" data-slide-to="' + index + '"></li>');
                        var carouselItem = $('<div class="carousel-item"></div>');

                        if (index === 0) {
                            carouselIndicator.addClass('active');
                            carouselItem.addClass('active');
                        }

                        var imgElement = $('<img class="d-block w-100 img-thumbnail" src="data:image/png;base64,' + histogram + '">');
                        carouselItem.append(imgElement);

                        carouselIndicators.append(carouselIndicator);
                        carouselInner.append(carouselItem);

                    });

                    carouselContainer.append(carouselIndicators);
                    carouselContainer.append(carouselInner);

                    carouselContainer.append(prev_parentElement);
                    carouselContainer.append(next_parentElement);

                    // Add the carousel to the page
                    $('#carousel-container').empty();
                    $('#carousel-container').append(carouselContainer);
                    // $('#image-carousel').carousel();
                      $('#image-carousel').carousel({
                        interval: false
                      });

                    var tbody = $('#data-table tbody');
                    tbody.empty();

                    // Decode column names from UTF-8 encoding
                    var decodedData = JSON.parse(data.df);

                    // Iterate over the JSON data and populate the table
                    $.each(decodedData, function(index, row) {
                        var tr = $('<tr>');
                        tr.append('<td>' + row.Загон + '</td>');
                        tr.append('<td>' + row.Сумма + '</td>');
                        tr.append('<td>' + row.Cреднаяя + '</td>');
                        tr.append('<td>' + row.Медианная + '</td>');
                        tr.append('<td>' + row.Макс + '</td>');
                        tr.append('<td>' + row.Мин + '</td>');
                        tbody.append(tr);
                    });

                    // Show the table
                    $('#data-table').show();

                $button.html(originalContent);
                $button.attr('disabled', false);
                },
                error: function(error) {
                    console.error('Error:', error);
                    $button.html(originalContent);
                    $button.attr('disabled', false);
                }
            });
        });
    });
</script>


<script>

var table = document.getElementById('data-table');
var mySampleTable = document.getElementById('mySampleTable');
var predictModal = document.getElementById('predict');

// Add event listener to the modal to dynamically populate the column values
predictModal.addEventListener('click', function() {
  var columnNumber = 1; // Specify the column number you want to copy (starting from 0)

  mySampleTable.innerHTML = "";

  var sampleHeader = document.createElement('thead');
  sampleHeader.classList.add("thead-dark");
  var sampleHeaderRow = document.createElement('tr');
  var sampleHeaderTitle1 = document.createElement('th'); sampleHeaderTitle1.textContent = "Загон №";
  var sampleHeaderTitle2 = document.createElement('th'); sampleHeaderTitle2.textContent = "Cумма";
  var sampleHeaderTitle3 = document.createElement('th'); sampleHeaderTitle3.textContent = "Урожайность (т)";

  sampleHeaderRow.appendChild(sampleHeaderTitle1);
  sampleHeaderRow.appendChild(sampleHeaderTitle2);
  sampleHeaderRow.appendChild(sampleHeaderTitle3);

  sampleHeader.appendChild(sampleHeaderRow)

  var sampleBody = document.createElement('tbody');

  var rows = table.getElementsByTagName('tr');
  for (var i = 0; i < rows.length; i++) {

    var sampleTableRow = document.createElement('tr');

    var zagon = rows[i].getElementsByTagName('td')[0];
    var sum = rows[i].getElementsByTagName('td')[1];
    var new_sum = document.createElement('td'); new_sum.textContent = "";

    if (sum){

        sampleTableRow.appendChild(zagon.cloneNode(true));
        sampleTableRow.appendChild(sum.cloneNode(true));
        sampleTableRow.appendChild(new_sum);

        sampleBody.appendChild(sampleTableRow);
    }
  }
  mySampleTable.appendChild(sampleHeader);
  mySampleTable.appendChild(sampleBody);
});


function multiplyValues() {
  var table = document.getElementById('mySampleTable');
  var realValue = document.getElementById('realValue').value;
  var pixelValue = document.getElementById('pixelValue').value;
  var rows = table.getElementsByTagName('tr');

  for (var i = 0; i < rows.length; i++) {
    var cells = rows[i].getElementsByTagName('td');
    if (cells[1]){
      var value = parseFloat(cells[1].textContent);
      var multipliedValue = (value / pixelValue * realValue)/1000;
      cells[2].textContent = multipliedValue.toFixed(3);

    }
  }
}


  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });


  function enableBoundInputs() {
    var upper_bound = document.getElementById("upper_bound");
    var lower_bound = document.getElementById("lower_bound");
    upper_bound.disabled = false;
    lower_bound.disabled = false;
  }

  function disableBoundInputs() {
    var upper_bound = document.getElementById("upper_bound");
    var lower_bound = document.getElementById("lower_bound");
    upper_bound.disabled = true;
    lower_bound.disabled = true;
  }

  function toggleThreshInput() {
    var threshold = document.getElementById("threshold");
    threshold.disabled = !threshold.disabled;
    var operators = document.getElementById("operators");
    operators.disabled = !operators.disabled;
  }


  // Function to set custom text in the alert
  function setAlertText(success, text) {
    var alertElement = document.getElementById('myAlert');
    if (success){
        if (alertElement) {
          // Set the custom text
          alertElement.innerHTML = text;
          // Show the alert
          alertElement.style.display = 'none';
          alertElement.hidden = true;
        }
    }
    else {
        if (alertElement) {
          // Set the custom text
          alertElement.innerHTML = text;
          // Show the alert
          alertElement.style.display = 'block';
          alertElement.hidden = false;
        }
    }
  }
</script>


{% endblock %}
